
{{- with .Site.Params.author }}
  <ul class="author-social">
    {{- with .twitter }}
    <li><a href="//twitter.com/{{ . }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
    {{- end }}
    {{- with .facebook }}
    <li><a href="//facebook.com/{{ . }}" target="_blank"><i class="fab fa-facebook"></i></a></li>
    {{- end }}
    {{- with .googleplus }}
    <li><a href="//plus.google.com/+{{ . }}" target="_blank"><i class="fab fa-google-plus"></i></a></li>
    {{- end }}
    {{- with .instagram }}
    <li><a href="//instagram.com/{{ . }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
    {{- end }}
    {{- with .tumblr }}
    <li><a href="//{{ . }}.tumblr.com" target="_blank"><i class="fab fa-tumblr"></i></a></li>
    {{- end }}
    {{- with .flickr }}
    <li><a href="//flickr.com/photos/{{ . }}" target="_blank"><i class="fab fa-flickr"></i></a></li>
    {{- end }}
    {{- with .reddit }}
    <li><a href="//reddit.com/user/{{ . }}" target="_blank"><i class="fab fa-reddit"></i></a></li>
    {{- end }}
    {{- with .linkedin }}
    <li><a href="//linkedin.com/in/{{ . }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    {{- end }}
    {{- with .slideshare }}
    <li><a href="//slideshare.com/{{ . }}" target="_blank"><i class="fab fa-slideshare"></i></a></li>
    {{- end }}
    {{- with .github }}
    <li><a href="//github.com/{{ . }}" target="_blank"><i class="fab fa-github"></i></a></li>
    {{- end }}
    {{- with .gitlab }}
    <li><a href="//gitlab.com/{{ . }}" target="_blank"><i class="fab fa-gitlab"></i></a></li>
    {{- end }}
    {{- with .bitbucket }}
    <li><a href="//bitbucket.com/{{ . }}" target="_blank"><i class="fab fa-bitbucket"></i></a></li>
    {{- end }}
    {{- with .stackoverflow }}
    <li><a href="//stackoverflow.com/users/{{ . }}" target="_blank"><i class="fab fa-stack-overflow"></i></a></li>
    {{- end }}
    {{- with .jsfiddle }}
    <li><a href="//jsfiddle.com/{{ . }}" target="_blank"><i class="fab fa-jsfiddle"></i></a></li>
    {{- end }}
    {{- with .codepen }}
    <li><a href="//codepen.io/{{ . }}" target="_blank"><i class="fab fa-codepen"></i></a></li>
    {{- end }}
    {{- with .deviantart }}
    <li><a href="//{{ . }}.deviantart.com/" target="_blank"><i class="fab fa-deviantart"></i></a></li>
    {{- end }}
    {{- with .behance }}
    <li><a href="//behance.net/{{ . }}" target="_blank"><i class="fab fa-behance"></i></a></li>
    {{- end }}
    {{- with .dribbble }}
    <li><a href="//dribbble.com/{{ . }}" target="_blank"><i class="fab fa-dribbble"></i></a></li>
    {{- end }}
    {{- with .wordpress }}
    <li><a href="//{{ . }}.wordpress.com" target="_blank"><i class="fab fa-wordpress"></i></a></li>
    {{- end }}
    {{- with .medium }}
    <li><a href="//medium.com/@{{ . }}" target="_blank"><i class="fab fa-medium"></i></a></li>
    {{- end }}
    {{- with .foursquare }}
    <li><a href="//foursquare.com/{{ . }}" target="_blank"><i class="fab fa-foursquare"></i></a></li>
    {{- end }}
    {{- with .xing }}
    <li><a href="//xing.com/profile/{{ . }}" target="_blank"><i class="fab fa-xing"></i></a></li>
    {{- end }}
    {{- with .quora }}
    <li><a href="//quora.com/profile/{{ . }}" target="_blank"><i class="fab fa-quora"></i></a></li>
    {{- end }}
    {{- with .youtube }}
    <li><a href="//youtube.com/{{ . }}" target="_blank"><i class="fab fa-youtube"></i></a></li>
    {{- end }}
    {{- with .vimeo }}
    <li><a href="//vimeo.com/{{ . }}" target="_blank"><i class="fab fa-vimeo"></i></a></li>
    {{- end }}
    {{- with .whatsapp }}
    <li><a href="//api.whatsapp.com/send?phone={{ . }}" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
    {{- end }}
    {{- with .skype }}
    <li><a href="skype:{{ . }}?userinfo" target="_blank"><i class="fab fa-skype"></i></a></li>
    {{- end }}
    {{- with .snapchat }}
    <li><a href="//snapchat.com/add/{{ . }}" target="_blank"><i class="fab fa-snapchat"></i></a></li>
    {{- end }}
    {{- with .pinterest }}
    <li><a href="//pinterest.com/{{ . }}" target="_blank"><i class="fab fa-pinterest"></i></a></li>
    {{- end }}
    {{- with .telegram }}
    <li><a href="//telegram.me/{{ . }}" target="_blank"><i class="fab fa-telegram"></i></a></li>
    {{- end }}
    {{- with .vine }}
    <li><a href="//vine.co/{{ . }}" target="_blank"><i class="fab fa-vine"></i></a></li>
    {{- end }}
    {{- with .email }}
    <li><a href="mailto:{{ . }}" target="_blank"><i class="fas fa-envelope"></i></a></li>
    {{- end }}
  </ul>
{{- end }}
